<template name="eventsListItem">
	<tr>                            
	    <td>{{name}}</td>
	    <td>{{datedAt}}</td>
	    <td class="text-right">	    	
	    	<button class="btn btn-xs btn-details">Details</button>	    	
	    </td>
	    <td class="text-right">
	    	{{#if active }}
	    		<button class="btn btn-xs btn-primary">Active</button>	    	
	    	{{ else }}
	    		<button class="btn btn-xs btn-default">Not active</button>
	    	{{/if}}
	    </td>
	    <td class="text-right">
	    	<button class="btn btn-xs btn-danger">Delete</button>
	    </td>
	</tr>
</template>